<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Dev_Tools_App.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Dev_Tools_App.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Dev_Tools_App.My.MySettings>
      <setting name="histConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="histServer" serializeAs="String">
        <value>rvtaxdb1\ecommprod|rvtaxdb1\ecommtest</value>
      </setting>
    </Dev_Tools_App.My.MySettings>
  </userSettings>
  <applicationSettings>
    <Dev_Tools_App.My.MySettings>
      <setting name="SPUsers" serializeAs="String">
        <value>Web|Admin</value>
      </setting>
      <setting name="langDefault" serializeAs="String">
        <value>C#</value>
      </setting>
    </Dev_Tools_App.My.MySettings>
  </applicationSettings>
</configuration>